body {
  background-image: url(../img/tooplate_body.png);
  background-repeat: repeat;
  color: #ffcb78;
  font-family: 'DejaVu Sans';
}
.logmessage {
  font-weight: 100;
  color: #00aaff;
  font-size: small;
}
.logmessage_fatal {
  font-weight: 100;
  color: #00aaff;
  font-size: small;
  background-color: white;
  color: red;
}
.logmessage_warning {
  font-weight: 100;
  color: #00aaff;
  font-size: small;
  color: yellow;
}
.logmessage_error {
  font-weight: 100;
  color: #00aaff;
  font-size: small;
  color: red;
}
.logmessage_debug {
  font-weight: 100;
  color: #00aaff;
  font-size: small;
  color: #7000ff;
}
div {
  display: block;
}
.sectionHeader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
.sectionBorder {
  padding: 10px;
  border: solid;
  border-color: #ffcb78;
  border-width: thin;
}
#cartridgeBox {
  width: 27em;
  padding: 10px;
  border: solid;
  border-color: #ffcb78;
  border-width: thin;
}
.cartInfo {
  color: #00aaff;
}
#emulog {
  width: 670px;
  height: 200px;
  padding: 10px;
  border: solid;
  border-color: #ffcb78;
  border-width: thin;
  font-size: 12pt;
  font-weight: normal;
  font-family: 'Lucida Console';
  overflow-y: scroll;
}