body {
  background-image: url(../img/tooplate_body.png);
  background-repeat: repeat;
  color: #b6ff2c;
  font-family: 'DejaVu Sans';
}
.info {
  font-weight: 100;
  color: #00b1ff;
  font-size: small;
  font-family: 'Lucida Console';
}
.logmessage {
  font-weight: 100;
  color: #00b1ff;
  font-size: small;
  font-family: 'Lucida Console';
}
.logmessage_fatal {
  font-weight: 100;
  color: #00b1ff;
  font-size: small;
  font-family: 'Lucida Console';
  background-color: white;
  color: red;
}
.logmessage_warning {
  font-weight: 100;
  color: #00b1ff;
  font-size: small;
  font-family: 'Lucida Console';
  color: yellow;
}
.logmessage_error {
  font-weight: 100;
  color: #00b1ff;
  font-size: small;
  font-family: 'Lucida Console';
  color: red;
}
.logmessage_debug {
  font-weight: 100;
  color: #00b1ff;
  font-size: small;
  font-family: 'Lucida Console';
  color: #b367ff;
}
.centered {
  position: absolute;
  left: 10%;
}
div {
  display: block;
}
.sectionHeader {
  font-family: 'Lucida Console';
  font-size: medium;
}
.sectionBorder {
  padding: 10px;
  border: solid;
  border-color: #b6ff2c;
  border-width: thin;
}
#cartridgeBox {
  width: 670px;
  padding: 10px;
  border: solid;
  border-color: #b6ff2c;
  border-width: thin;
}
#emulog {
  width: 670px;
  height: 300px;
  padding: 10px;
  border: solid;
  border-color: #b6ff2c;
  border-width: thin;
  font-size: 12pt;
  font-weight: normal;
  font-family: 'Lucida Console';
  overflow-y: scroll;
}
input[type="button"] {
  font-family: 'PT Sans', arial, serif;
  color: #b6ff2c;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  padding: 7px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 10px 2px;
  background: rgba(168, 255, 0, 0.41);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  display: inline-block;
  text-decoration: none;
}
.debugButton {
  font-size: 10px !important;
  color: white !important;
  background: rgba(255, 70, 0, 0.41) !important;
}
.hexchar {
  padding-right: 7px;
  padding-left: 7px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  color: #ffd070;
}
.asciichar {
  margin: 0, 5px, 10px, 0;
}
#hexGrid {
  height: 400px;
  background-color: rgba(22, 64, 0, 0.44);
  display: inline-block;
}