@forecolor: #ffcb78;
@infocolor: #00aaff;

body {
    background-image:url(../img/tooplate_body.png);
    background-repeat: repeat;
    color: @forecolor;
    font-family: 'DejaVu Sans';
}

.logmessage {
    font-weight: 100;
    color: @infocolor;
    font-size: small;
}

.logmessage_fatal {
    .logmessage;
    background-color: white;
    color: red;
}

.logmessage_warning {
    .logmessage;
    color:yellow;
}

.logmessage_error {
    .logmessage;
    color:red;
}

.logmessage_debug {
    .logmessage;
    color:#7000ff;
}

div {
    display: block;
}

.sectionHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.sectionBorder {
    padding: 10px;
    border: solid;
    border-color: @forecolor;
    border-width: thin;
}

#cartridgeBox {
    width: 27em;
    .sectionBorder;
}

.cartInfo {
    color: @infocolor;
}

#emulog {
    width: 670px;
    height: 200px;
    .sectionBorder;
    font-size: 12pt;
    font-weight: normal;
    font-family: 'Lucida Console';
    overflow-y: scroll;
}
