.sectionHeader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
#cartridgeBox {
  width: 40em;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: thin;
}