<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildWebCompiler" version="1.7.246" targetFramework="net46" />
  <package id="cef.redist.x64" version="3.2454.1344" targetFramework="net46" />
  <package id="cef.redist.x86" version="3.2454.1344" targetFramework="net46" />
  <package id="CefSharp.Common" version="45.0.0" targetFramework="net46" />
  <package id="CefSharp.WinForms" version="45.0.0" targetFramework="net46" />
  <package id="IronPython" version="2.7.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="NLog" version="4.1.2" targetFramework="net46" />
</packages>